.section {
  padding: 20px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.detailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  max-width: 1200px;
  gap: 30px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.134);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.605),
    -1px -2px 50px rgba(0, 0, 0, 0.421);
  backdrop-filter: blur(3px);
  margin-bottom: 24px;

  /* 

  @media screen and (min-width: 960px) {
    min-width: 960px;
    min-height: 700px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  } */

  @media screen and (min-width: 320px) {
    flex-direction: column;
    max-width: 320px;
  }

  @media screen and (min-width: 375px) {
    min-width: 360px;
    padding: 0;
    padding-top: 10px;
    gap: 16px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    width: 540px;
    padding: 0px;
    padding-top: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
    flex-direction: row;
    min-width: 768px;
    padding: 20px;
    min-height: 700px;
  }

  @media screen and (min-width: 947px) {
    width: 900px;
    min-width: 960px;
  }

  @media screen and (min-width: 1128px) {
    width: 1080px;
    min-width: 1128px;
  }

  @media screen and (min-width: 1309px) {
    width: 1260px;
    min-width: 1309px;
    min-height: 780px;
  }
}

.leftWrapper {
  min-width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.poster {
  width: 300px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.605);
  margin-bottom: 16px;

  @media screen and (min-width: 480px) {
    width: 430px;
  }
}

.rightWrapper {
  padding: 90px 0px;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.31);

  text-wrap: balance;
  position: relative;
  margin-top: 36px;
  height: 100%;
}

.title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 6px;
  line-height: 1.2;
  text-align: center;
}

.losung {
  margin-bottom: 16px;
  text-align: center;
}

.genreList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 8px;
  margin-bottom: 10px;
}

.genreItem {
  border: 1px solid rgba(127, 125, 125, 0.437);
  border-radius: 50px;
  padding: 10px 16px;
  font-size: 14px;
  text-wrap: nowrap;
}

.overview {
  color: #aeaeae;
  text-align: center;
  margin-bottom: 32px;
}

.release {
  position: fixed;
  color: #dfdfdf;
  text-shadow: 1px 2px 6px black;

  @media screen and (min-width: 320px) {
    top: -57px;
    right: 14px;
  }

  @media screen and (min-width: 480px) {
    right: -30px;
  }

  @media screen and (min-width: 768px) {
    right: 30px;
    top: 30px;
  }

  @media screen and (min-width: 960px) {
  }
}

.listInfo {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(127, 125, 125, 0.437);
  border-radius: 6px;
  gap: 30px;
  padding: 10px;
  width: 100%;
}

.infoItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.trailerBtn {
  position: absolute;
  left: 0;
  bottom: 25px;

  border-radius: 14px;
  padding: 16px 46px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #1d1e1f;
  background-color: #f6c701;
  font-weight: 700;
  font-size: 20px;
  transition: background-color 250ms;

  &:hover {
    background-color: greenyellow;
  }

  @media screen and (min-width: 320px) {
    bottom: 10px;
    transform: translateX(33.3%);
  }

  @media screen and (min-width: 375px) {
    bottom: 15px;
    transform: translateX(50%);
  }

  @media screen and (min-width: 768px) {
    bottom: 12px;
    transform: translateX(7%);
    width: 300px;
  }

  @media screen and (min-width: 947px) {
  }

  @media screen and (min-width: 1128px) {
  }

  @media screen and (min-width: 1309px) {
  }
}

/* NAV LIST */

.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}

.navList {
  display: flex;
  justify-content: space-around;
  background-color: #f6c701;
  filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.5));

  padding: 8px 36px;
  border-radius: 8px;

  @media screen and (min-width: 320px) {
    width: 300px;
  }

  @media screen and (min-width: 375px) {
    width: 360px;
  }

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 600px) {
    width: 540px;
  }

  @media screen and (min-width: 768px) {
    width: 720px;
  }

  @media screen and (min-width: 947px) {
    width: 900px;
  }

  @media screen and (min-width: 1128px) {
    width: 1080px;
  }

  @media screen and (min-width: 1309px) {
    width: 1260px;
  }
}

.navItem {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.542);
  font-weight: 700;
  letter-spacing: 0.05;
  text-shadow: 1px 2px 6px #67676748;
  transition: color 250ms;
  padding: 10px 40px;

  &:hover {
    color: #1a1818;
  }
}

.active {
  color: black;
  filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.373));
}

.goBack {
  position: absolute;
  top: 100px;
  /* left: 20px; */
  color: #000000;
  background-color: #f6c701;
  font-weight: 700;
  padding: 8px;
  border-radius: 50px;
  transition: background-color 250ms;
}

.goBack:hover {
  background-color: #f66301;
}
