.header {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  background-color: #252627;
  height: 80px;
}

.nav {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  scale: 1.5;
  text-align: center;
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.8;
}

.logoMovie {
  font-size: 46px;
  color: #fff;
  /* color: transparent; */
  margin-left: 16px;
}

.logoSpinner {
  position: absolute;
  font-size: 10px;
  color: #fff;
  top: 13.5px;
  left: 32.5px;
  color: rgba(0, 0, 0, 0.584);
  background: #fff;
  border-radius: 50%;
}

.logoSpinner2 {
  position: absolute;
  font-size: 10px;
  color: #fff;
  top: 13.5px;
  left: 46px;
  color: rgba(0, 0, 0, 0.584);
  background: #fff;
  border-radius: 50%;
}

.logo .logoSpinner,
.logo .logoSpinner2 {
  -webkit-animation: rotate infinite 300ms;
  animation: rotate infinite 300ms;
}

@-webkit-keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.navList {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 10px 16px;
  border-radius: 50px;
  color: #ffffffce;
  transition: color 150ms linear;
  letter-spacing: -0.02em;
  font-weight: 700;

  transition: color 800ms, scale 250ms;
}

.item:hover {
  color: #f44444;
  scale: 1.05;
}

.active {
  background-color: #ff0000e3;

  transition: background 250ms linear;
  color: #fff;
}

.active:hover {
  color: inherit;
  scale: inherit;
}
