.container {
  text-align: center;
  padding: 0 7.5px;
  margin-top: 20px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 50px;
  border: transparent;
  color: #ffffffce;
  transition: color 150ms linear;
  letter-spacing: -0.02em;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.829);

  transition: background 250ms linear;

  backdrop-filter: 1px 3px 6px black;
}

.btn:hover {
  background-color: red;
}
