.footer {
  display: flex;
  background-color: #252627;
}

.footerContainer {
  padding: 22px 0px;
  margin: 0 auto;
}

.descriptionFooter {
  font-size: 70%;
  color: #aeaeae;
}

.iconCopyright {
  vertical-align: text-bottom;
}
