:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-white: #fff;
  --dark-main: #1d1e1f;
  --dark-header: ##252627;
  --accent: #d9212f;
  --accent-second: #f6c701;
  --mark-green: #06be4d;
  --mark-orange: #ff6500;
  --mark-yellow: #F5BE00;
  --mark-orange: #f6c701;
  --no-focus: #242526;
  --text-details: #aeaeae;
}

body {
  background-color: #1d1e1f;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  
}

main {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  height: 100%;
  min-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
  margin-left: 8px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
