.actorsSection {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.actorsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.actorItem {
  display: flex;
  align-items: space-between;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.236);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-height: 255px;
  font-size: 10px;

  background-color: rgba(27, 25, 25, 0.515);
  backdrop-filter: blur(6px);

  @media screen and (min-width: 320px) {
    width: 48%;
  }

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 480px) {
    width: 175px;
  }

  @media screen and (min-width: 768px) {
    max-width: 175px;
  }

  @media screen and (min-width: 960px) {
  }
}

.actorInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 95%;

  max-height: 50px;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

.actorPhoto {
  width: 100%;
  height: 100%;
}

.actorName {
  height: 1rem;
}

.actorCharacter {
  color: rgb(246, 171, 9);
  height: 1rem;
}

.actorPopularity {
  height: 1rem;
}
