.actorsSection {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.actorsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.actorItem {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.236);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgba(27, 25, 25, 0.515);
  backdrop-filter: blur(6px);


  @media screen and (min-width: 320px) {
    width: 48%;
    font-size: 10px;
  }

  @media screen and (min-width: 375px) {
    width: 175px;
  }

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    max-width: 175px;
  }

  @media screen and (min-width: 960px) {
  }
}

.actorPhoto {
  width: 100%;
  height: 100%;
}

.actorName {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.actorCharacter {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.actorPopularity {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding-bottom: 8px;
}
